.d-flex {
    display: flex !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.text-wrap {
    white-space: normal !important;
}

.m-0{
    margin: 0!important;
    margin-inline: 0!important;
}

.w-100{
    width: 100%!important;
}

.inner-scroll.scroll-y::-webkit-scrollbar {
    display: none!important;
}